<footer class="mt-5 bg-white">
    <div class="text-left ml-4">
        <p class="footerTitle mb-0"> <strong>Tous droits réservés © Human Booster | 2020</strong></p>
        <p class="footerTitleSecond text-secondary mb-0">Mentions légales | Politique de confidentialité</p>
    </div>
</footer>
