{% extends 'base.html.twig' %}

{% block title %}Nouvelle recherche de stage{% endblock %}

{% block body %}
<div class="encadre">
    <h1>Créer une nouvelle recherche de stage </h1>

    {{ include('recherche_stage/_form.html.twig') }}

</div>
{% endblock %}