{% extends 'base.html.twig' %}

{% block title %}Nouvelle Competence{% endblock %}

{% block body %}
<div class="encadre">

    <h1>Ajouter une nouvelle compétence</h1>

    {{ include('competence/_form.html.twig') }}

</div>
{% endblock %}

