{% if app.user.roles[0] == 'ROLE_ENCADRANT' %}
<form method="post" action="{{ path('objectif_delete', {'id': objectif.id, 'titre': titre.id}) }}" onsubmit="return confirm('Êtes-vous vraiment sur de vouloir supprimer cet objectif?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ objectif.id) }}">
    <button class="btnSupprimer">Supprimer</button>
</form>
{% endif %}
