{% extends 'base.html.twig' %}

{% block title %}Nouvel Objectif{% endblock %}

{% block body %}
<div class="encadre">
    <h1>Créer un nouvel Objectif</h1>

    {{ include('objectif/_form.html.twig') }}

</div>
{% endblock %}
