{% extends 'base.html.twig' %}

{% block title %}Modifier une entreprise{% endblock %}

{% block body %}
<div class="encadre">
    <h1 class="text-center">Modifier une entreprise</h1>
    <div class="row px-3">
        <div class="ml-auto">
            {{ include('entreprise/_delete_form.html.twig') }}
        </div>
    </div>
    {{ include('entreprise/_form.html.twig', {'button_label': 'valider'}) }}
</div>
{% endblock %}
