{% extends 'base.html.twig' %}

{% block title %}Nouvelle Entreprise{% endblock %}

{% block body %}
<div class="encadre">
    <h1>Créer une nouvelle Entreprise</h1>

    {{ include('entreprise/_form.html.twig') }}
</div>
{% endblock %}
