{% extends 'base.html.twig' %}

{% block title %}Nouvelle session{% endblock %}

{% block body %}
<div class="encadre mb-5">
    <h1>Créer une nouvelle session</h1>

    {{ include('session/_form.html.twig') }}

</div>
{% endblock %}
