{% extends 'base.html.twig' %}

{% block title %}Nouveau titre professionnel{% endblock %}

{% block body %}
<div class="encadre">
    <h1>Créer un nouveau titre professionnel</h1>

    {{ include('titre_professionnel/_form.html.twig') }}

</div>
{% endblock %}
