{% extends 'base.html.twig' %}

{% block title %}Nouveau Module{% endblock %}

{% block body %}
<div class="encadre">
    <h1>Créer un nouveau Module</h1>

    {{ include('module/_form.html.twig') }}
    
</div>
{% endblock %}