{% extends 'base.html.twig' %}

{% block title %}Nouveau CCP{% endblock %}

{% block body %}
<div class="encadre">
    <h1>Créer un nouveau CCP</h1>
    {{ include('ccp/_form.html.twig') }}
</div>
{% endblock %}
