{% extends 'base.html.twig' %}

{% block title %}Accès à la page non autorisée{% endblock %}

{% block body %}
<div class="encadre text-center">
    <h1>Accès à la page non autorisée</h1>
    <p>Vous n'avez pas les attributions nécessaires pour accéder à cette page!</p>
    <div class="d-flex justify-content-center">
        <a href="{{ path('dashboard') }}"><button class="primaire mb-1">Retour à l'accueil</button></a>
    </div>
</div>
{% endblock %}